@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}

.content{
    display: flex;
    justify-content: flex-start;
}

.choose{
    width: 25%;
    height: 100%;
    background-color: gray;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  padding-top: 5px;
 
}

.logo{
  background-color: white;
  border-radius: 5px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 25px;
}

.logo > img{
    height: 40px;
    margin-right: 5px;
}

.logo > p{
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
}

.act{
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.act > form{
    width: 100%;
}

.sel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.selmodule{
    border: 1px solid yellowgreen;
    border-radius: 2px;
    margin-bottom: 10px;
}

.results{
   
    width: 75%;
    height: 0;
    padding-top: 5px;
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    
}

.gametile{
    height: 300px;
    width: 225px;
    background-color: green;
    border-radius: 5px;
    margin-left: 5px;
    flex-wrap: wrap;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    display: none;

}

.gametile > img{
    height: 250px;
    margin-top: 5px;
    border-radius: 2px;
    margin-bottom: 5px;
}

.gametile > p{
   font-family:  'Noto Sans', sans-serif;
}

.notenough{
    font-family:  'Noto Sans', sans-serif;
    margin-top: 10px;
    width: 300px;
    height: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    border-radius: 5px;
}

.btnhldr{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:  'Noto Sans', sans-serif;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    background-color: green;
    border: 2px #34eb9e solid;
}

.btnn:hover{
    background-color: #096611;
    cursor: pointer;
}

.noresults{
    font-family:  'Noto Sans', sans-serif;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    display: none;
}